body {
  text-align: center;
}
.btn-area {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.btn-1,
.btn-2 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border: 3px solid #666;
  color: #333;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px #666;
}

.btn-1:hover {
  background-color: #f2f2f2;
}
.btn-2:hover {
  background-color: #f2f2f2;
}

.btn-1:active {
  background-color: #f2f2f2;
  box-shadow: none;
  transform: translateY(5px);
}
.btn-2:active {
  background-color: #f2f2f2;
  box-shadow: none;
  transform: translateY(5px);
}
.btn-2:focus{
  background-color: #f2f2f2;
  box-shadow: none;
  transform: translateY(5px);
}
