.btn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border: 3px solid #666;
  color: #333;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px #666;
}

.btn:hover {
  background-color: #f2f2f2;
}

.btn:active {
  background-color: #f2f2f2;
  box-shadow: none;
  transform: translateY(5px);
}
